body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  h1 {
    color: #080041;
  }
  
  h2 {
    color: #002d80;
  }

  h3{
    color:rgb(4, 62, 211)
  }
  
  #display-date {
    margin-top: 20px;
    font-size: 1.2em;
  }
  
  select {
    font-size: 1em;
    padding: 5px;
    margin-top: 10px;
  }
  
  canvas {
    max-width: 100%;
    margin-top: 30px;
  }